<header th:fragment="header">
    <div class="fixed-header">
        <a href="/main" class="mainBtn">
            <img th:src="@{/images/logo.svg}" alt="로고">
        </a>

        <a href="/trade" class="tradeBtn">중고거래</a>

        <span style="float:right;">
      <th:block th:if="${session.loginUserId == null}">
        <form th:action="@{/login}" method="get" class="button-form">
          <button type="submit" class="loginBtn">로그인</button>
        </form>
      </th:block>

      <th:block th:if="${session.loginUserId != null}">
        <form th:action="@{/logout}" method="post" class="button-form">
          <button type="submit" class="loginBtn">로그아웃</button>
        </form>
      </th:block>
    </span>
    </div>
</header>