<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>동네 인증</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script th:src="@{/js/header.js}"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXzABm6GnKCRQQ59bMNX15TSVZDixkaJI&libraries=maps,marker&region=kr"></script>
    <script th:src="@{/js/location.js}"></script>
    <link rel="stylesheet" th:href="@{/css/location.css}">
  </head>
  <body>
  <div th:replace="~{header :: header}"></div>
    <div class="main-container">
      <div class="user-input-container">
        <div class="user-agree-container">
          <input type="checkbox" name="userAgree" id="userAgree">
          <label for="userAgree">위치 정보 활용에 동의하시려면 체크해주세요</label>
        </div>
        <div class="user-location-input-container">
          <label for="dongNameResult">어디에 살고 계신가요?</label>
          <input type="text" id="dongNameResult" placeholder="예) 서울 강서구 화곡동" disabled>
          <button onclick="sample4_execDaumPostcode()" id="inputLocationBtn" disabled>내 주소 입력하기</button><br>
        </div>
        <div class="error-result" th:if="${error != null}" th:text="${error}"></div>
      </div>

      <div id="status"></div>
      <div id="map"></div>
      <form th:action="@{/users/__${loginUserId}__/locations}" method="post">
        <input type="hidden" name="dongName" id="dongName">
        <input type="hidden" name="location" id="location">
        <input type="hidden" name="latitude" id="lat">
        <input type="hidden" name="longitude" id="lng">
        <button type="submit" id="submit" disabled>위치 인증하기</button>
      </form>
    </div>
  </body>
</html>