<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>동네 인증</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script th:src="@{/js/header.js}"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXzABm6GnKCRQQ59bMNX15TSVZDixkaJI&libraries=maps,marker&region=kr"></script>
    <script>
      let map;

      function sample4_execDaumPostcode() {
        new daum.Postcode({
          oncomplete: function(data) {
            // get dong name
            if (data.jibunAddress === '' && data.autoJibunAddress === '') console.error("no data");
            const jAddr = data.jibunAddress || data.autoJibunAddress;
            const jAddrArr = jAddr.split(" ");
            let p = -1;
            for (let i=jAddrArr.length-1; i>=0; --i){
              if (/동$/gi.test(jAddrArr[i])){
                p = i;
                break;
              }
            }
            const dongName = jAddrArr.slice(0, p+1).join(" ");
            if (!!dongName){
              document.querySelector("#dongNameResult").value = dongName;
              document.querySelector("#dongName").value = dongName;
              document.querySelector("#submit").removeAttribute("disabled");
            }
            document.querySelector("#location").value = jAddr;
          }
        }).open();
      }

      function getCurrentLocation(){
        const status = document.querySelector("#status");

        function success(position){
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;

          status.textContent = "";

          // document.querySelector("#result").textContent = `latitude: ${latitude}, longitude: ${longitude}`;

          createMapMarker(latitude, longitude);
          changeMapCenter({ lat: latitude, lng: longitude });
          document.querySelector("#lat").value = latitude;
          document.querySelector("#lng").value = longitude;
        }

        function error(){
          status.textContent = "unable to retrieve your current location";
        }

        if (!navigator.geolocation) status.textContent = "geolocation is not supported by your browser";
        else {
          status.textContent = "Locating...";
          navigator.geolocation.getCurrentPosition(success, error);
        }
      }

      function userAgreeHandler(e){
        if (e.target.checked){
          document.querySelector("#inputLocationBtn").removeAttribute("disabled");
          getCurrentLocation();
        }else {
          document.querySelector("#inputLocationBtn").setAttribute("disabled", "");
          document.querySelector("#submit").setAttribute("disabled", "");
        }
      }

      function initMap(){
        map = new google.maps.Map(document.querySelector('#map'), {
          zoom: 15,
          center: { lat: 37.579795, lng: 126.977062 },
          mapId: "USER_LOCATION_MAP",
          cameraControl: false,
          mapTypeControl: false,
          streetViewControl: false,
          rotateControl: false,
          fullscreenControl: false,
        });
      }

      function createMapMarker(lat, lng){
        const marker = new google.maps.marker.AdvancedMarkerElement({
          map: map,
          position: { lat, lng },
        });
      }

      function changeMapCenter(coord){
        map.panTo(coord);
        map.setZoom(15);
      }

      addEventListener("load", (e) => {
        document.querySelector("#userAgree").addEventListener("change", userAgreeHandler);
        initMap();
      });
    </script>
    <style>
      body {
        margin: 0;
        background-color: #fffae0;
      }

      .mainContainer {
        display: grid;
        justify-content: center;
        width: 100%;
        height: 100vh;
        margin: 0;
      }

      .mainContainer > input {
        max-width: 50vw;
        height: 100px;
      }

      .mainContainer > #map {
        height: 400px;
      }

      .topbar {
        width: 100%;
        height: 100px;
        background-color: #fff;
      }
    </style>
  </head>
  <body>
  <div th:replace="~{header :: header}"></div>
    <div class="mainContainer">
      <div class="topbar"></div>
      <div>
        <input type="checkbox" name="userAgree" id="userAgree">
        <label for="userAgree">위치 정보 활용에 동의하시려면 체크해주세요</label>
        <label for="dongNameResult">어디에 살고 계신가요?</label>
        <input type="text" id="dongNameResult" placeholder="예) 서울 강서구 화곡동" disabled>
        <p th:if="${error != null}" th:text="${error}"></p>
        <button onclick="sample4_execDaumPostcode()" id="inputLocationBtn" disabled>내 주소 입력하기</button><br>
      </div>

      <!-- location -->
      <p id="status"></p>
      <div id="map"></div>
      <form th:action="@{/users/__${loginUserId}__/locations}" method="post">
        <input type="hidden" name="dongName" id="dongName">
        <input type="hidden" name="location" id="location">
        <input type="hidden" name="latitude" id="lat">
        <input type="hidden" name="longitude" id="lng">
        <button type="submit" id="submit" disabled>위치 인증하기</button>
      </form>
    </div>
  </body>
</html>