<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>로그인</title>
    <style>
        .msg {
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
        }

        .msg.success {
            color: green;
            background-color: #e6ffe6;
            border: 1px solid green;
        }

        .msg.error {
            color: red;
            background-color: #ffe6e6;
            border: 1px solid red;
        }
    </style>
</head>
<body style="margin: 0;">
<div th:replace="~{header :: header}"></div>

<div style="margin-top: 60px; padding: 20px;">
<h2>로그인</h2>

    <div th:if="${param.signupSuccess}" class="msg success">
        회원가입이 완료되었습니다. 로그인해 주세요.
    </div>

    <div th:if="${param.error}" class="msg error">아이디 또는 비밀번호가 잘못되었습니다.</div>

<form method="post" th:action="@{/login}">
    <label>
        아이디:
        <input type="text" name="username" placeholder="아이디" required />
    </label>
    <br><br>

    <label>
        비밀번호:
        <input type="password" name="password" placeholder="비밀번호" required />
    </label>
    <br><br>

    <button type="submit">로그인</button>
    <br><br>
    <button type="button" onclick="location.href='/signup'">회원가입</button>

    <br><br>
    <a href="/oauth2/authorization/google">
        <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" alt="Google 로그인">
    </a>
</form>
</div>
</body>
</html>