<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>review form</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/reviewForm.css}">
    <script th:src="@{/js/header.js}"></script>
    <script>
      function setRatingOnInputListener(){
        const rating = document.querySelector('#rating');
        const ratingValue = document.querySelector('#ratingValue');

        ratingValue.textContent = rating.value;

        rating.addEventListener('input', (e) => {
          ratingValue.textContent = e.target.value;
        });
      }

      window.addEventListener('load', () => {
        setRatingOnInputListener();
      });
    </script>
  </head>
  <body>
  <div th:replace="~{header :: header}"></div>

    <div class="main-container">
      <h2>이번 거래, 어떠셨나요?</h2>
      <div class="target-trade">
        <div class="trade-img"></div>
        <div class="trade-title" th:text="${trade.getTitle()}"></div>
        <div class="trade-price" th:text="${trade.getPrice() + '원'}"></div>
      </div>
      <form th:action="@{/reviews}" method="post">
        <input type="hidden" name="tradeId" id="tradeId" th:value="${trade.getId()}">
        <p>
          <label for="rating">평점</label>
          <input type="range" name="rating" id="rating" min="1" max="5" list="markers">
          <span id="ratingValue"></span>
          <datalist id="markers">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
          </datalist>
        </p>
        <p>
          <label for="content">내용</label>
          <input type="text" name="content" id="content">
        </p>
        <input type="hidden" name="revieweeId" th:value="${revieweeId}">
        <button id="reviewBtn" type="submit">리뷰 남기기</button>
      </form>
    </div>
  </body>
</html>