<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>review form</title>
  </head>
  <body>
  <form th:action="@{/reviews}" method="post">
    <p>
      <label for="reviewerId">reviewer id</label>
      <input type="text" name="reviewer_id" id="reviewerId">
    </p>
    <p>
      <label for="revieweeId">reviewee id</label>
      <input type="text" name="reviewee_id" id="revieweeId">
    </p>
    <p>
      <label for="tradeId">trade id</label>
      <input type="text" name="trade_id" id="tradeId">
    </p>
    <p>
      <label for="rating">rating</label>
      <input type="text" name="rating" id="rating">
    </p>
    <p>
      <label for="content">content</label>
      <input type="text" name="content" id="content">
    </p>
    <button type="submit">review</button>
  </form>
  </body>
</html>